%imagenesGaleria{

        img{
            display: inline-block;
        border: solid 1px black;
        -webkit-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
        
        padding: 0.5rem;
        margin: 8px;
            
        -webkit-filter: grayscale(100%);
	    filter: grayscale(100%);
	    -webkit-transition: 1s ease-in-out;
	    transition: 1s ease-in-out;
        position: relative;
        top: 0;
        transition: top ease .5s;
        &:hover{
                cursor: pointer;
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                top: -10px;

        }

    }
}

%servicios{
    

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    position: relative;
    top: 0;
    transition: top ease .5s;
    &:hover{

            -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
}


%bounceup{
    transform: translateY(-4px);
    transition: all 0.1s ease;
}


%animacion-boton{
    width: fit-content;
    font-size: large;
    cursor: pointer;
    border-color: black;
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 1%;
    margin-top: 10px;
    
    &:hover{
        box-shadow: inset 0 100px 0 0 black;
         border-color: black;
         color: white;
    }
}