@import "extend";
@import "mixin";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800;900&display=swap');

/* Hoja de estilo*/
*{margin: 0;
padding: 0;
box-sizing: border-box;}





/* Estilo General*/
body{
    font-family: 'Raleway';
    overflow-x: hidden;
    background-color: $background_color;
}

.tituloPagina{
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    border-bottom: 5px groove $secondary_color; 
    padding: 0px 1px 0px 1px
}

h2 {
    @include titulos(300, 0.5rem);
    }
    
    /* Menú */


.row>*{
    padding: 0%;
}

.nav_menu {

    li {
        padding: 0 1.5rem 0 1.5rem;
    }

}

header {
    box-shadow: 0px 1.1px 3.5px 0px rgba(0, 0, 0, 0.75);
    height: auto;
    background-color: $primary_color;
}

header {
    li {
        a {
            font-size: large;
            text-transform: uppercase;
        }
    }
}

.logo_img{
    height: 50px;
}



.nav_menu{
    a:hover {
        @extend %bounceup;
        border-top: inset 3px $background_color;
        border-bottom:outset 3px $background_color; ;
        }
        .nav-item{
            a.nav-link.active{
                    border-top: inset 3px $background_color;
                    border-bottom:outset 3px $background_color; ;
                }
            
        }
}




/* footer */

footer{
    display: flex;
    flex-flow: row nowrap;
    height: 6vh;
    background-color:$primary_color;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: whitesmoke;

p{
    text-align: center;
    color: whitesmoke;
};
a{
    height: 4vh;
}

}

.rrss_footer{
    display:flex;
    flex-flow: row wrap;
    width: 15%;
    justify-content: flex-start;

    img{ 
        width:8vw;
        max-width: 30px;
        padding-left: 4px;
        
}
}

.volver{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    p{
        padding-left: 1rem;
    }
}





/* RRSS Fixed */
.rrss{
    position: fixed;
    top: 30%;
    display: flex;
    flex: column wrap;
    width: 10px;
    margin-left: 0px;
    z-index:  3;;
    div{
        a{
            img{
                max-width: 30px;
                min-width: 20px;
                width: 5vw;
                padding: 2px;
            }
        }
    }
}

.ig{
    position: absolute;
    top: 110%;
}





/* Inicio */

.main_index{
padding: 0%;
}

/* Carrousel */


.captionfoto {
    position: absolute;
    font-family: 'Montserrat';
    text-align: left;
    z-index: 4;
    text-transform: uppercase;
    font-size: 9vw;
    color: white;
    top:15%;
    left: 10%;
    text-shadow: 1px 1px 2px black;
    line-height: normal;
    font-weight: 600;

}

.botonSlider{
    position: absolute;
    z-index: 5;
    font-weight: 600;
    bottom:30%;
    left: 10%;
    width: fit-content;
    font-size: large;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 1%;
    margin-top: 10px;



    &:hover{
        box-shadow: inset 0 100px 0 0 black;
         border-color: black;
         color: white;
    }
    }



    @media only screen and (min-width:800px){
        .botonSlider{
            font-size: xx-large;
                   }
    }

    
    @media only screen and (max-width:1440){
        .captionFoto{
            font-size: 10vw;
                   }
    }

    .no-padding{
        padding:0px;
    }




.carousel-item {


    img {

        max-height: 1280px;

        transform: scaleX(-1)
    }
}




/* Tarjetas */



.main_servicios {
    position: relative;
    text-align: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
  top: -15px;
    margin: 0px;

    background-color:$secondary_color ;
    -webkit-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
    h2{
        @include titulos(300, 0.5rem);
        color: white;
    padding-top: 2rem;
    border-color: white;    
    }


    &__cards {
        display: flex;
        flex-flow: row wrap;
        margin: 0 1rem 1rem 1 1rem;
        width: 100%;
        justify-content: space-evenly;



        &__card {
            
            margin: 3vw;
            -webkit-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            &:hover{
                @extend %bounceup;
            }
            

            &__cuerpo {
                &__a {
                    cursor: pointer;
                    box-shadow: inset 0 0 0 0 black;
                    -webkit-transition: ease-out 0.4s;
                    -moz-transition: ease-out 0.4s;
                    transition: ease-out 0.4s;
                    border-radius: 1%;
                    margin-top: 10px;
                    background-color: white;
                    color: $primary_color;
                    border-color: black;
                
               
                
                    &:hover{
                        box-shadow: inset 0 100px 0 0 black;
                         border-color: black;
                         color: white;
                    }
            }
        }
    }

}
}

/* Presentación */

.presentacion {
    display: flex;
    flex-flow: row;
    max-width: 100%;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    &__texto {
        max-width: 30%;
        margin-left: 1vw;
    }

    img {
        justify-self: flex-end;
        max-height: 350px;
        border: 10px solid black;
    }
}



@media only screen and (max-width:1024px){

.main_servicios{
    &__cards{
        &__card{
            margin-bottom: 1rem;
        }
        }
    
}

    .presentacion {
        display: flex;
        flex-flow: column;
        margin-left: 5%;
        margin-bottom: 10px;
        text-align: left;
        justify-content: space-evenly;
        align-items: center;
 
    
        &__texto {
            max-width: 100%;
        }
        

        img {
            justify-self: flex-end;
            height: 50%;
            border: 10px solid black;

        }
    }
    .rrss{
        margin-left: 2px;
    }

    .volver{
        p{
            display: none;
        }
    }
        
    }

    /* Bio */




    .fotoPerfil{
        padding: 0px;
        max-height: 576px;
        max-width: 852px;
    }

    /* Galería */

.sesion{
    @extend %imagenesGaleria;
    @extend %bounceup;
}



/* Servicios */

.idea{
    margin-top: 2rem;
    margin-bottom: 2rem;
    div{
        text-align: center;
        p{
            text-align: center;
            font-size: 1.5rem;
        }
        a{
            font-size: 1.1rem;
            background-color: black;
            border-color: black !important;
            color: white;
            &:hover{
            background-color: white;
            color: black;
        }
    }
        
    }
}

.artistica{
    background-image: url(../img/galeria/ninfas/pan/ninfas_pan3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    justify-content: flex-end;
    @extend %servicios;

    div{

        padding: 130px 20px 0px 20px;
            h2{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            border-bottom: 1px solid white;
            font-weight: 600;
            font-size: 3rem;
        }
        p{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            font-weight: 400;
            font-size: 2rem;
         
        }
    }
}

.social{
    background-image: url(../img/servicios/recital.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    justify-content: flex-start;
    @extend %servicios;



    div{
        padding: 130px 20px 0px 20px;

            h2{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            font-weight: 600;
            border-bottom: 1px solid white;
            font-size: 3rem;

        

        }
        p{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            font-weight: 600;
            font-size: 2rem;
        }
    }
}

/* Contacto */

.main-contacto{
    justify-items: center;
}

.bajada{
    text-align: center;
    font-size: x-large;
}

.datos-contacto{
    background-color: $secondary_color;
    color: white;
    padding: 50px 50px 50px 300px;
    
}


@media only screen and (max-width:900px){
.datos-contacto {
    padding: 50px 50px 50px 50px;
    
}
}


.datos-col-1{
    padding-right: 20px;
    margin: auto;
    
}

.datos-col-2{
    padding-bottom: 20px;
    .rrss-contacto{
        margin-top: 20px;
        margin: auto;
    }
}




    .fila-formulario{
        background-color: white;
        padding-top: 20px;

    }

    .formulario{

        justify-content: center;
        text-align: center;
        .row{
            padding: 20px;
            justify-content: center;
            input,label,select{
                max-width: 300px;
                margin: 10px;
            }
             }
    }

 .form-row-1{
     width: 100%;
 }
    
.form-row-3{
    justify-content: center;
    justify-items: center;
     width: 100%;
     margin: 0;
         textarea{
         max-width: 650px;

     }
 }

    

  



