@import "extend";
@import "mixin";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800;900&display=swap');

/* Hoja de estilo*/
*{margin: 0;
padding: 0;
box-sizing: border-box;}





/* Estilo General*/
body{
    font-family: 'Raleway';
    overflow-x: hidden;
    background-color: $background_color;
}

.tituloPagina{
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
    font-family: 'Montserrat';
    border-bottom: 5px groove $secondary_color; 
    padding: 0px 1px 0px 1px
}

h2 {
    @include titulos(300, 0.5rem);
    }
    
    /* Menú */


.row>*{
    padding: 0%;
}

.nav_menu {

    li {
        padding: 0 1.5rem 0 1.5rem;
    }

}

header {
    box-shadow: 0px 1.1px 3.5px 0px rgba(0, 0, 0, 0.75);
    height: auto;
    background-color: $primary_color;
}

header {
    li {
        a {
            font-size: large;
            text-transform: uppercase;
        }
    }
}

.logo_img{
    height: 50px;
}



.nav_menu{
    a:hover {
        @extend %bounceup;
        border-top: inset 3px $background_color;
        border-bottom:outset 3px $background_color; ;
        }
        .nav-item{
            a.nav-link.active{
                    border-top: inset 3px $background_color;
                    border-bottom:outset 3px $background_color; ;
                }
            
        }
}




/* footer */

footer{
    display: flex;
    flex-flow: row nowrap;
    height: 6vh;
    background-color:$primary_color;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: whitesmoke;

p{
    text-align: center;
    color: whitesmoke;
};
a{
    height: 4vh;
}

}

.rrss_footer{
    display:flex;
    flex-flow: row wrap;
    width: 15%;
    justify-content: flex-start;

    img{ 
        width:8vw;
        max-width: 30px;
        padding-left: 4px;
        &:hover{
            @extend %bounceup;
        }
        
}
}



@media only screen and (max-width:400px){
    .rrss_footer{

        img{
        width:7vw;
        max-width: 30px;
        padding-left: 4px;
    }
               }

         }



.footer-volver{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .btn-volver{
        @extend %animacion-boton;
}



    p{
        padding-left: 1rem;
    }
}





/* RRSS Fixed */
.rrss{
    position: fixed;
    top: 30%;
    display: flex;
    flex: column wrap;
    width: 10px;
    margin-left: 0px;
    z-index:  3;;
    div{
        a{
            img{
                max-width: 30px;
                min-width: 20px;
                width: 5vw;
                padding: 2px;
                &:hover{
                    @extend %bounceup;
                }
            }
        }
    }
}

.ig{
    position: absolute;
    top: 110%;
}





/* Inicio */

.main_index{
padding: 0%;
}

/* Carrousel */


.captionfoto {
    position: absolute;
    font-family: 'Montserrat';
    text-align: left;
    z-index: 4;
    text-transform: uppercase;
    font-size: 9vw;
    color: white;
    top:15%;
    left: 10%;
    text-shadow: 1px 1px 2px black;
    line-height: normal;
    font-weight: 600;

}

.botonSlider{
    position: absolute;
    z-index: 5;
    font-weight: 600;
    bottom:30%;
    left: 10%;
    @extend %animacion-boton;
    }



    @media only screen and (min-width:800px){
        .botonSlider{
            font-size: xx-large;
                   }
    }

    
    @media only screen and (max-width:1440){
        .captionFoto{
            font-size: 10vw;
                   }
    }

    .no-padding{
        padding:0px;
    }




.carousel-item {


    img {

        max-height: 1280px;

        transform: scaleX(-1)
    }
}




/* Tarjetas */



.main_servicios {
    position: relative;
    text-align: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
  top: -15px;
    margin: 0px;

    background-color:$secondary_color ;
    -webkit-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
    h2{
        @include titulos(300, 0.5rem);
        color: white;
    padding-top: 2rem;
    border-color: white;    
    }


    &__cards {
        display: flex;
        flex-flow: row wrap;
        margin: 0 2rem 1rem  1rem;
        width: 100%;
        justify-content: space-evenly;



        &__card {
            
            margin: 3vw;
            -webkit-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 9px 5px 0px rgba(0,0,0,0.75);
            &:hover{
                @extend %bounceup;
            }
            

            &__cuerpo {
                background-color: $background_color;
                
                &__a {
                    color: black;
                    background-color:white;
                    @extend %animacion-boton;
            }
        }
    }

}
}

@media only screen and (max-width:1800px){
    .main_servicios__cards{
        justify-content: space-evenly center;
    }
    .main_servicios__cards__card{
        margin: 3vw 1px 3vw 1px;
        padding: 0;
        
    }

     }
/* Presentación */

.presentacion {
    display: flex;
    flex-flow: row;
    max-width: 100%;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    &__texto {
        max-width: 30%;
        margin-left: 1vw;
    }

    img {
        justify-self: flex-end;
        max-height: 350px;
        border: 10px solid black;
    }
}



@media only screen and (max-width:1024px){

.main_servicios{
    &__cards{
        &__card{
            margin-bottom: 1rem;
        }
        }
    
}

    .presentacion {
        display: flex;
        flex-flow: column;
        margin-left: 5%;
        margin-bottom: 10px;
        text-align: left;
        justify-content: space-evenly;
        align-items: center;
 
    
        &__texto {
            max-width: 100%;
        }
        

        img {
            justify-self: flex-end;
            height: 50%;
            border: 10px solid black;

        }
    }
    .rrss{
        margin-left: 2px;
    }

    .volver{
        p{
            display: none;
        }
    }
        
    }

    /* Bio */


.fila-bio-1{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: $secondary_color;
    div{

        position: relative;
        top: 0px;

        h1{
        
            color: white;
            border-color:white;
        }
        
        p{
            font-size: 1.5rem;
            font-size: min(17px);
            line-height: 2.5rem;
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
    }

}

.fila-bio-2{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:$secondary_color;
    div{
        p{
            font-size: 1.5rem;
            font-size: min(17px);
            line-height: 2.5rem;
            padding-left: 50px;
            padding-right: 50px;
            color: white;
        }
    }

}


.foto1{
    padding-left: 10px;

}

    

    /* Galería */

.sesion{
    overflow-x:clip;
    padding: 1rem;
    @extend %imagenesGaleria;
    @extend %bounceup;
}



.modal {
    
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 200;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: auto;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
      margin-top: 10px;
      z-index: 300;
    position: sticky;
    top: 30px;
    margin-left: 90vw;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  


/* Servicios */

.idea{
    margin-top: 2rem;
    margin-bottom: 2rem;
    div{
        text-align: center;
        p{
            text-align: center;
            font-size: 1.5rem;
        }
        a{
            font-size: 1.1rem;
            background-color: black;
            border-color: black !important;
            color: white;
            &:hover{
            background-color: white;
            color: black;
        }
    }
        
    }
}

.artistica{
    background-image: url(../img/galeria/ninfas/pan/ninfas_pan3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    justify-content: flex-end;
    @extend %servicios;

    div{

        padding: 130px 20px 0px 20px;
            h2{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            border-bottom: 1px solid white;
            font-weight: 600;
            font-size: 3rem;
        }
        p{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            font-weight: 600;
            font-size: 2rem;
         
        }
    }
}

.social{
    background-image: url(../img/servicios/recital.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    justify-content: flex-start;    
    @extend %servicios;



    div{
        padding: 130px 20px 0px 20px;

            h2{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            font-weight: 600;
            border-bottom: 1px solid white;
            font-size: 3rem;

        

        }
        p{
            color: white;
            text-shadow: 0 1px 0 rgba(10, 10, 10, 0.4);
            font-weight: 600;
            font-size: 2rem;
        }
    }
}

/* Contacto */

.main-contacto{
    justify-items: center;
}

.bajada{
    text-align: center;
    font-size: x-large;
}

.datos-contacto{
    background-color: $secondary_color;
    color: white;
    padding: 50px 50px 50px 300px;
    
}


@media only screen and (max-width:900px){
.datos-contacto {
    padding: 50px 50px 50px 50px;
    
}
}


.datos-col-1{
    padding-right: 20px;
    margin: auto;
    
}

.datos-col-2{
    padding-bottom: 20px;
    .rrss-contacto{
        margin-top: 20px;
        margin: auto;
    }
}

.camara{
    width: 400px;
position: absolute;
right: 10vw;
top: 30vh;
}


@media only screen and (max-width:1800px){
    .camara{
        right:1vw;
        }
    }

    @media only screen and (max-width:1250px){
        .camara{
            max-width: 300px;
            right:1vw;  
            top: 35vh;
            }
        }

        
    @media only screen and (max-width:560px ){
        .camara{
            max-width: 200px;
            right:1vw;  
            top: 35vh;
            }
        }

        @media only screen and (max-width:480px  ){
            .camara{
            visibility: hidden;;
                }
            }


    .fila-formulario{
        background-color: white;
        padding-top: 20px;

    }

    .formulario{

        justify-content: center;
        text-align: center;
        .row{
            padding: 20px;
            justify-content: center;
            input,label,select{
                max-width: 300px;
                margin: 10px;
            }
             }
    }

 .form-row-1{
     width: 100%;
 }
    
.form-row-3{
    justify-content: center;
    justify-items: center;
     width: 100%;
     margin: 0;
         textarea{
         max-width: 650px;

     }
 }

 .boton-formulario{
     padding: 2px;
    font-family: 'Montserrat';
    color: black;
    border-color: black;
    border-width: 1px;
    background-color:white;
    @extend %animacion-boton;
    
    & .btn-primary{
        background-color: white;
    }   
    }

  
 
    

 .modal-backdrop {
    z-index:1;
}

  



